<div class="pcoded-navigatio-lavel">Application</div>
<ul class="pcoded-item pcoded-left-item">
	<li class="">
		<NavLink href="/">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Почетна страница</span>
		</NavLink>
	</li>
	<li class="">
		<a href="https://trello.com/b/PSiVNHbv/fit-ar" target="_blank">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Trello</span>
		</a>
	</li>
	<li class="">
		<a href="https://github.com/aleksandar-k03/FitAR" target="_blank">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Github (source code)</span>
		</a>
	</li>
	<li class="">
		<a href="/error">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Error</span>
		</a>
	</li>
	<li class="">
		<a href="/counter">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Counter</span>
		</a>
	</li>
</ul>