<div class="pcoded-navigatio-lavel">Application</div>
<ul class="pcoded-item pcoded-left-item">
	<li class="">
		<NavLink href="/">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Почетна страница</span>
		</NavLink>
	</li>
	<li class="">
		<a href="https://github.com/aleksandar-k03/FitAR" target="_blank">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Github (source code)</span>
		</a>
	</li>
	<li class="">
		<a href="https://github.com/aleksandar-k03/FitAR" target="_blank">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">.apk download</span>
		</a>
	</li>
	@*<li class="">
		<a href="/docs/predlog.docx">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Предлог теме</span>
		</a>
	</li>*@
	<li class="">
		<a>
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Пројектовање ИС</span>
		</a>
	</li>
	<li class="">
		<a href="/clients">
			<span class="pcoded-micon"><i class="feather icon-menu"></i></span>
			<span class="pcoded-mtext">Kорисници</span>
		</a>
	</li>
</ul>